// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #4877FF;
$yellow: #FDB631;
$orange: #E67E22;
$green: #32B796;
$gray: #000000;
$light-gray: #F4F4F4;
// $light-gray: #DCDCDC;
$bkg-gray: #FCFCFC;
$white: #fff;
$black: #000000;
// Define variables for your color scheme

// // For example:
// $red: #EE5F5B;
// $black: #000000;
// $blue: #4877FF;
// $blue2: #2B61FF;
// $light-blue: #9BB4FF;
// $yellow: #FDB631;
// $orange: #E67E22;
// $green: #32B796;
// $gray: #777777;
// $light-gray: #DCDCDC;
// $bkg-gray: #FCFCFC;
