<div class="footer hidden-xs">
  <div class="footer-box">
    <%= link_to "Terms of use", root_path, class: 'footer-link' %>
    <%= link_to "Contacts", contact_path, class: 'footer-link' %>
  </div>
</div>

<div class="footer footer-mobile visible-xs">
  <div class="footer-mobile-box">
    <%= link_to "Terms of use", root_path, class: 'footer-link' %> <br>
    <%= link_to "Contacts", contact_path, class: 'footer-link' %>
  </div>
</div>
