
  <div class="hidden-xs hidden-sm">
    <a href="http://ladune-arcachon.fr/" class="link" target="_blank">
      <div class="logistic-box">
        <div class="logistic-left">
            <div class="">
            <%= cl_image_tag("h-domaine_de_la_dune_igrmvc.jpg", :width=>180, :crop=>"scale")%>
            </div>
        </div>
        <div class="logistic-middle">
          <div class="hotel-name">Domaine de la Dune</div>
          <br>
          Chambres quadruple dans une colonie de vacances où nous avons réservé 30 places.<br>
          Si cela vous intéresse <a href="https://doodle.com/poll/4kv9b5exqxv6x7kr" target="_blank">bookez votre place dès que possible via ce lien</a>.
          <br>
          156 Boulevard de la Côte d'Argent, 33120 Arcachon
        </div>
        <div class="logistic-right">
          <div class="price">16€</div>
          <div class="price-text">par personne par nuit, salle de bain partagée</div>
        </div>
      </div>
      </a>
      <br>
      <a href="https://www.airbnb.fr/s/Pyla-sur-Mer--La-Teste-de-Buch/homes?refinement_paths%5B%5D=%2Fhomes&query=Pyla%20sur%20Mer%2C%20La%20Teste-de-Buch&place_id=ChIJyztQQheeVA0RMSC6RhhlBiY&checkin=2019-08-28&allow_override%5B%5D=&checkout=2019-08-31&s_tag=VK2jiIcL" class="link" target="_blank">
      <div class="logistic-box">
        <div class="logistic-left">
            <div class="">
            <%= cl_image_tag("airbnb_fncfdt.jpg", :width=>150, :crop=>"scale")%>
            </div>
        </div>
        <div class="logistic-middle">
          <div class="hotel-name">Airbnb</div>
          <br>
          Pour les locations courte durée (moins d'une semaine), on vous conseille de passer par airbnb.<br>
        </div>
        <div class="logistic-right">
          <div class="price">75-200€</div>
          <div class="price-text">pour 2 personnes par nuit</div>
        </div>
      </div>
      </a>
  </div>

  <div class="visible-xs visible-sm">
    <a href="http://ladune-arcachon.fr/" class="link" target="_blank">
      <div class="logistic-box-mobile">
            <div class="logistic-image-center">
            <%= cl_image_tag("h-domaine_de_la_dune_igrmvc.jpg", :width=>180, :crop=>"scale")%>
            </div>
        <div class="text-center">
          <br>
          <div class="hotel-name">Domaine de la Dune</div>
          <br>
          Chambres quadruple dans une colonie de vacances où nous avons réservé 30 places.<br>
          Si cela vous intéresse <a href="https://doodle.com/poll/4kv9b5exqxv6x7kr" target="_blank">bookez votre place dès que possible via ce lien</a>.

          <br>
          156 Boulevard de la Côte d'Argent, 33120 Arcachon

        </div>
          <br>
          <div class="price">16€</div>
          <div class="text-center">par personne par nuit, salle de bain partagée</div>
      </div>
    </a>
    <br>
    <a href="https://www.airbnb.fr/s/Pyla-sur-Mer--La-Teste-de-Buch/homes?refinement_paths%5B%5D=%2Fhomes&query=Pyla%20sur%20Mer%2C%20La%20Teste-de-Buch&place_id=ChIJyztQQheeVA0RMSC6RhhlBiY&checkin=2019-08-28&allow_override%5B%5D=&checkout=2019-08-31&s_tag=VK2jiIcL" class="link" target="_blank">
      <div class="logistic-box-mobile">
            <div class="logistic-image-center">
            <%= cl_image_tag("airbnb_fncfdt.jpg", :width=>150, :crop=>"scale")%>
            </div>
        <div class="text-center">
          <br>
          <div class="hotel-name">Airbnb</div>
          <br>
          Chambres quadruple dans une colonie de vacances où nous avons réservé 30 places.<br>

        </div>
          <br>
          <div class="price">75-200€</div>
          <div class="text-center">pour 2 personnes par nuit</div>
      </div>
    </a>
  </div>


