<%= render 'shared/navbar' %>
<div class="container" style= "min-height: calc(100vh - 140px)">
  <div class="box">
    <div class="">
      <div class="row">
        <h1>Contact</h1>
        <p>
          <ul>If you have any question, please think twice, then call us :
            <li>Augustin : 0684217943</li>
            <li>Solène : 0686840882</li>
          </ul>
        </p>
      </div>
    </div>
  </div>
</div>
