<div class="banner-1">
  <%= render 'shared/navbar_home' %>
  <div class="flex-home">
    <div class="tagbox">
    <div class="tagline">Solène & Augustin</div>
    <div class="subtagline">Mariage le 30 août 2019</div>
    </div>
  </div>
  <div style="height: 70px;"></div>

</div>

<div class="title">Programme</div>

    <div class="banner banner-2">
      <div class="box-left box-small">
        <div class="">
          <%#= cl_image_tag("augetso_zhlcxo.jpg", :width=>320, :crop=>"fit") %>
          <div style="width:80%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/psmgXYHMVGPp0Tulss" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p></p>
        </div>
      </div>
      <div class="box-right box-big">
        <div class="">
          <div class="title2">Jeudi 29 août</div><br>
          <p>
            Mariage Civil à 16h <br>
            <span style="font-style: italic">Annexe de la mairie du Pyla</span><br><br>

            Apéritif à 17h<br>
            <span style="font-style: italic">Chez les Weston Smith, à 5min de la mairie  <br>(14 avenue des Pins)</span><br><br>

            Soirée libre
          </p>
        </div>
      </div>
    </div>

    <div class="banner">
      <div class="box-left box-big">
        <div class="">
          <div class="title2" ">Vendredi 30 août</div><br>
          <p>
            Cérémonie à 16h30 <br>
            Eglise Notre Dame des Passes (Le Moulleau) <br><br>

            Cocktail & Réception à 18h30 <br>
            Salle du Tir au Vol (Arcachon), à 15min à pied de l'église


          </p>
        </div>
      </div>
      <div class="box-right box-small">
        <div class="">
          <iframe width="600" height="450" frameborder="0" style="border:0"

          src="https://www.google.com/maps/embed/v1/directions?origin=place_id:ChIJLSXXXDyeVA0RnZOVDBWfdGM&destination=place_id:ChIJw_zKRjaeVA0R0r6Ij97052Y&key=AIzaSyCZZ5bSvAwuJ9MyDqjifDZvRl-t03K7nhA" allowfullscreen></iframe>
        </div>
      </div>
    </div>
    <iframe width="100%" height="450" frameborder="0" style="border:0"
src="https://www.google.com/maps/embed/v1/streetview?location=44.6412%2C-1.1994&key=AIzaSyCZZ5bSvAwuJ9MyDqjifDZvRl-t03K7nhA" allowfullscreen></iframe>





    <div class="banner banner-2">
      <div class="box-left box-small">
        <div class="">
          <div style="width:80%;height:0;padding-bottom:56%;margin-left:auto; margin-right:auto; position:relative;"><iframe src="https://giphy.com/embed/24nzE5gHRpjs5tI10G" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
      </div>
      <div class="box-right box-big">
        <div class="">
          <div class="title2">Samedi 31 août</div><br>
          <p>
            🚢 Aventure ostréicole 🚢 <br><br>

            Pour continuer la fête le lendemain, on vous propose une traversée du Bassin pour une après-midi cabane à huîtres côté Ferret. Prévoir un départ vers 15h30 et un retour au Moulleau vers 19h30.


          </p>
        </div>
      </div>
    </div>


