
    <%= cl_image_tag("home_3_ynnpwl.png", :crop=>"fit") %>
<div class="container">
    <div class="row">
      <h1>Programme</h1>
      <br>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="blue">
          <%= cl_image_tag("13326442-9AAC-4992-AD6D-3E5EF0871617_lempa4.mov", :resource_type=>"video") %>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="red">
          <h2>Jeudi</h2>
          <p>
            Mariage Civil à 16h <br>
            Eglise notre dame des passes (le moulleau)<br><br>

            Apéritif à 17h<br>
            Eglise notre dame des passes (le moulleau)<br><br>

            Soirée libre
            <br><br>
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="blue">
          <h2>Vendredi</h2>
          <p>
            Cérémonie à 16h <br>
            Eglise notre dame des passes (le moulleau)<br><br>
            Cocktail & Réception à 18h <br>
            Eglise notre dame des passes (le moulleau)<br><br>
          </p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="red">
          <%= cl_image_tag("IMG_1925_axd1yk.jpg", :width=>500, :crop=>"fit") %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <div class="blue">
          <div style="width:100%;height:0;padding-bottom:56%;position:relative;"><iframe src="https://giphy.com/embed/24nzE5gHRpjs5tI10G" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div><p><a href="https://giphy.com/gifs/24nzE5gHRpjs5tI10G"></a></p>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="red">
          <h2>Samedi</h2>
          <p>
            Aventure Osgtréicole 15h
            RDV au ponton du moulleau pour une traversée du bassin en bateau
          </p>
        </div>
      </div>
    </div>

  </div>
