<div class="hidden-xs">
  <div style="background-color: #FCFCFC">
<%= render 'shared/navbar' %>
<div class="container">
  <div class="box">
    <h1 class="text-center">Liste de mariage</h1><br>
    <p class="text-center">On est super heureux de vous avoir à nos côtés fin août! Si vous le désirez,nous avons créé une liste de mariage <a href="http://www.millemercismariage.com/augustinetsolene/liste.html" target="_blank">(lien ici)</a>. Un grand merci à tous! </p><br>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/3o85xo8f9wVYcwzZcY" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/3o85xo8f9wVYcwzZcY" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/3o85xo8f9wVYcwzZcY" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
      </div>
      <br>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/3o85xo8f9wVYcwzZcY" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div style="width:100%;height:0;padding-bottom:69%;position:relative;"><iframe src="https://giphy.com/embed/26FPzWY5I6WqElJC0" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/3o85xo8f9wVYcwzZcY" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
        <div class="col-xs-12 col-sm-4">

        </div>

      </div>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/3o85xo8f9wVYcwzZcY" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/3o85xo8f9wVYcwzZcY" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/3o85xo8f9wVYcwzZcY" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>

<div class="visible-xs">
  <div style="background-color: #FCFCFC">
<%= render 'shared/navbar' %>
<div class="container">
  <div class="box">
    <h1 class="text-center">Liste de mariage</h1><br>
    <p class="text-center">Hum hum hum, il faut qu'on y réflechisse...</p><br>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/3o85xo8f9wVYcwzZcY" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>


      </div>
      <br>

    </div>
  </div>
</div>
</div>
</div>
