<div style="background-color: #FCFCFC">
<%= render 'shared/navbar' %>
<div class="container">
  <div class="box">
    <h1 class="text-center">Liste de mariage</h1><br>
    <p class="text-center">Hum hum hum, il faut qu'on y réflechisse...</p><br>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/3o85xo8f9wVYcwzZcY" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/3o85xo8f9wVYcwzZcY" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/3o85xo8f9wVYcwzZcY" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
      </div>
      <br>
    <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/3o85xo8f9wVYcwzZcY" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div style="width:100%;height:0;padding-bottom:78%;position:relative;"><iframe src="https://giphy.com/embed/l4Jz3a8jO92crUlWM" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/3o85xo8f9wVYcwzZcY" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
        <div class="col-xs-12 col-sm-4">

        </div>

      </div>
      <br>
      <div class="row">
        <div class="col-xs-12 col-sm-4">
          <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/3o85xo8f9wVYcwzZcY" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/3o85xo8f9wVYcwzZcY" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
        </div>
        <div class="col-xs-12 col-sm-4">
          <div style="width:100%;height:0;padding-bottom:75%;position:relative;"><iframe src="https://giphy.com/embed/3o85xo8f9wVYcwzZcY" width="100%" height="100%" style="position:absolute" frameBorder="0" class="giphy-embed" allowFullScreen></iframe></div>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

