<%= render 'shared/navbar' %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <h1>Terms of Use</h1>

        <p>En naviguant sur ce site internet, je reconnais que : </p>
        <li>Augustin est bien plus fort que Solène au Perudo (pour les personnes qui sont restées coinçées sur le bridge, le Perudo est un jeu de société qui permet de mesure le quotient intellectuel d'un individu en lançant des dés)</li>
        <br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/gMGsAxuWozQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

        <li>quand un plat est particulièrement bon au restaurant, il est normal que l'individu ayant le plus besoin de calories prenne la plus grosse part de ce dit plat</li>
        <li>qu'une raclette ne se savoure pas uniquement en hivers</li><br>

        <p>Pour approfondir ces points, nous vous invitons à consulter le <a href="https://www.cnil.fr/fr/reglement-europeen-protection-donnees" target="_blank">texte de loi correspondant</a></p>
      </div>
    </div>
  </div>
</div>
