.min-height{
  min-height: calc(100vh - 140px)
}

.title{
  font-family: 'Lobster', cursive;
  font-size: 80px;
  text-align: center;
  margin-top: 20px;
  color: black;
}

.title2{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 35px;
  color: black;
}

.border{
  border-style: solid;
  border-color: red;
}

.flex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.center{
  margin-right: auto;
  margin-left: auto;
  background-color: red;
}

.text-center{
  text-align: center;
}

.font-14{
  font-size: 14px;
}

.font-16{
  font-size: 16px;
}

// .h1{
//   color: red;
// }

// .h2{
//   font-weight: bold;
// }

// .blue{
//   background-color: blue;
// }

// .red{
//   background-color: red;
// }
