.banner {
  color: white;
  text-align: center;
  background-size: cover !important;
  width: 100vw;
  display: flex;
  // background-image:url("https://res.cloudinary.com/dckqwftrl/image/upload/v1542541496/home_kc1umd.png");
  // display: flex;
  // align-items: center;
  // justify-content: center;
}
