.login-box{
  width: 500px;
  background-color: white;
  margin-top: 70px;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 30px;
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgb(230, 230, 230);
}
