.tableau{
  font-size: 12px;
}

.tableau-2{
  font-size: 12px;
  table-layout: fixed;
}

.small-col{
  width: 550px;
}

.thead-dark{
  background-color: #222529;
  color: white;
}

.white-table-title{
  a {
    color: white;
    // text-decoration: none;
  }
}
