.movie-box{
  text-align: center
}

.movie-img{
  margin-left: auto;
  margin-right: auto;
}

.movie-title{
  font-weight: bold;
  color: black;
  text-align: center;
  font-size: 16px;
  margin-top: 10px;
}
